<div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
    <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-xl rounded-2xl bg-clip-border">
        <div class="flex-auto py-4 px-6">
            {% slot "content" %}
            <div class="flex flex-row justify-between">
                <div class="flex-none w-2/3 max-w-full">
                    <div>
                        <p class="font-semibold">Test content</p>
                        <h5 class="font-bold flex text-lg items-center gap-2">
                            Test value
                        </h5>
                    </div>
                </div>
                <div class="flex items-center justify-center w-12 h-12 rounded-lg bg-slate-200">
                    <i class="bi-patch-question text-4xl"></i>
                </div>
            </div>
            {% endslot %}
        </div>
    </div>
</div>
