venv/
**/venv/
**/.env
**/__pycache__/
**/*.mp4
**/.mypy_cache/
innbahit-device/*.weights
innbahit-device/*.cfg
innbahit-device/coco.names


.vscode/
innbahit-device/main
innbahit-device/main.o
innbahit-device/compile_commands.json
innbahit-device/.cache/
innbahit-device/*.mp4
innbahit-device/models
innbahit-device/build
runs/
**/*.zip
yolov/dataset/
yolovbackup

**/dist/
