venv/
**/venv/
**/.env
**/__pycache__/
**/*.mp4
**/.mypy_cache/
innbahit-device/*.weights
innbahit-device/*.cfg
innbahit-device/coco.names
innhabit-device/html/*

.vscode/
innhabit-device/main
innhabit-device/main.o
innhabit-device/compile_commands.json
innhabit-device/.cache/
innhabit-device/*.mp4
innhabit-device/models
innhabit-device/build
runs/
**/*.zip
yolov/dataset/
yolovbackup

**/dist/
