{% extends "base.html" %}

{% block content %}
<div class="flex flex-col justify-between items-center gap-4 w-full">
    <h1 class="text-4xl py-2">Test {{ entrance.name }}</h1>
    <div class="flex flex-col items-center gap-8 w-full lg:w-1/3">
        <button
            hx-post=""
            hx-target="#occupancy"
            name="action"
            value="entry"
            class="w-full px-10 py-4 mt-6 mb-2 font-bold text-center text-white text-4xl uppercase transition-all rounded-lg active:opacity-85 hover:scale-[102%] shadow-md bg-gradient-to-r from-aau to-aau-light"
        >
            Ind
        </button>
        <h2 id="occupancy" class="text-8xl">{{ current_occupancy }}</h2>
        <button
            hx-post=""
            hx-target="#occupancy"
            name="action"
            value="exit"
            class="w-full px-10 py-4 mt-6 mb-2 font-bold text-center text-white text-4xl uppercase transition-all rounded-lg active:opacity-85 hover:scale-[102%] shadow-md bg-gradient-to-r from-aau to-aau-light"
        >
            Ud
        </button>
    </div>
    <p class="invisible">Spacer</p>
</div>
{% endblock %}
