<div class="p-6 pb-0 flex justify-between">
    <div class="flex w-full">
        <div class="w-full">
            <h5 class="text-3xl font-bold">Aktivitet</h5>
            <p class="w-full hidden lg:block text-xl">
                Aktivitet idag sammenlignet med en gennemsnitlig onsdag
            </p>
        </div>
    </div>
    <div class="flex flex-col text-sm justify-around">
        <div class="flex items-center gap-1">
            <div class="w-3 h-3 rounded-full bg-aau-light-blue"></div>
            <p>Idag</p>
        </div>
        <div class="flex items-center gap-1">
            <div class="w-3 h-3 rounded-full bg-aau"></div>
            <p class="text-nowrap">Gennemsnitlig onsdag</p>
        </div>
    </div>
</div>
<div class="h-full p-4 pb-0">
    <div class="h-64">
        <canvas id="comparison-chart" height="900" width="2142" class="block box-border w-full h-full"></canvas>
    </div>
</div>
<div id="comparison-json-element" hidden data-json="{{ json_data }}"></div>
