{% load static %}

{% if active %}
<li class="mt-0.5 w-full">
    <a class="rounded-lg text-slate-700 py-3 flex items-center px-4 bg-white font-semibold shadow-xl hover:bg-slate-50">
        <div
            class="shadow-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg text-center bg-gradient-to-r from-aau to-aau-light"
        >
            <i class="bi-shop-window flex text-white"></i>
        </div>
        <p>Dashboard</p>
    </a>
</li>
{% else %}

<li class="mt-0.5 w-full">
    <a class="group rounded-lg text-slate-700 py-3 flex items-center px-4 hover:bg-white hover:font-semibold transition-all"
    >
        <div
            class="shadow-xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white group-hover:bg-gray-100 hover:shadow-none"
        >
            <i class="bi-shop-window flex"></i>
        </div>
        <p>Dashboard</p>
    </a>
</li>
{% endif %}
