<div class="border-black/12.5 shadow-soft-xl relative flex min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-white bg-clip-border">
    <div class="border-black/12.5 mb-0 rounded-t-2xl border-b-0 border-solid bg-white p-6 pb-0">
        <div class="flex flex-wrap mt-0 -mx-3">
            <div class="flex-none w-7/12 max-w-full px-3 mt-0 lg:w-1/2 lg:flex-none">
                <h5 class="text-xl font-bold">Travelste dage</h5>
                <p class="mb-0 leading-normal text-size-sm">
                    Dage med flest besøgende
                </p>
            </div>
        </div>
    </div>
    <div class="flex-auto p-6 px-0 pb-2">
        <div class="overflow-x-auto">
            <table class="items-center w-full mb-0 align-top border-gray-200 text-slate-500">
                <thead class="align-bottom">
                    <tr>
                        <th class="px-6 py-3 font-bold tracking-normal text-left uppercase align-middle bg-transparent border-b letter border-b-solid text-size-xxs whitespace-nowrap border-b-gray-200 text-slate-400 opacity-70">Dag</th>
                        <th class="px-6 py-3 font-bold tracking-normal text-center uppercase align-middle bg-transparent border-b letter border-b-solid text-size-xxs whitespace-nowrap border-b-gray-200 text-slate-400 opacity-70">Dato</th>
                        <th class="px-6 py-3 font-bold tracking-normal text-center uppercase align-middle bg-transparent border-b letter border-b-solid text-size-xxs whitespace-nowrap border-b-gray-200 text-slate-400 opacity-70">Gæster</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap">
                            <div class="flex px-2 py-1">
                                <div>
                                    <p class="inline-flex items-center justify-center mr-4 transition-all duration-200 ease-soft-in-out text-xl h-9 w-9 rounded-xl">1.</p>
                                </div>
                                <div class="flex items-center">
                                    <h6>AAU Prolabs</h6>
                                </div>
                            </div>
                        </td>
                        <td class="p-2 leading-normal text-center align-middle bg-transparent border-b text-size-sm whitespace-nowrap">
                            <span class="font-semibold leading-tight text-size-xs">11. Marts 2025</span>
                        </td>
                        <td class="p-2 leading-normal text-center align-middle bg-transparent border-b text-size-sm whitespace-nowrap">
                            <span class="font-semibold leading-tight text-size-xs">2044</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap">
                            <div class="flex px-2 py-1">
                                <div>
                                    <p class="inline-flex items-center justify-center mr-4 transition-all duration-200 ease-soft-in-out text-xl h-9 w-9 rounded-xl">1.</p>
                                </div>
                                <div class="flex items-center">
                                    <h6>AAU Prolabs</h6>
                                </div>
                            </div>
                        </td>
                        <td class="p-2 leading-normal text-center align-middle bg-transparent border-b text-size-sm whitespace-nowrap">
                            <span class="font-semibold leading-tight text-size-xs">11. Marts 2025</span>
                        </td>
                        <td class="p-2 leading-normal text-center align-middle bg-transparent border-b text-size-sm whitespace-nowrap">
                            <span class="font-semibold leading-tight text-size-xs">2044</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap">
                            <div class="flex px-2 py-1">
                                <div>
                                    <p class="inline-flex items-center justify-center mr-4 transition-all duration-200 ease-soft-in-out text-xl h-9 w-9 rounded-xl">1.</p>
                                </div>
                                <div class="flex items-center">
                                    <h6>AAU Prolabs</h6>
                                </div>
                            </div>
                        </td>
                        <td class="p-2 leading-normal text-center align-middle bg-transparent border-b text-size-sm whitespace-nowrap">
                            <span class="font-semibold leading-tight text-size-xs">11. Marts 2025</span>
                        </td>
                        <td class="p-2 leading-normal text-center align-middle bg-transparent border-b text-size-sm whitespace-nowrap">
                            <span class="font-semibold leading-tight text-size-xs">2044</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap">
                            <div class="flex px-2 py-1">
                                <div>
                                    <p class="inline-flex items-center justify-center mr-4 transition-all duration-200 ease-soft-in-out text-xl h-9 w-9 rounded-xl">1.</p>
                                </div>
                                <div class="flex items-center">
                                    <h6>AAU Prolabs</h6>
                                </div>
                            </div>
                        </td>
                        <td class="p-2 leading-normal text-center align-middle bg-transparent border-b text-size-sm whitespace-nowrap">
                            <span class="font-semibold leading-tight text-size-xs">11. Marts 2025</span>
                        </td>
                        <td class="p-2 leading-normal text-center align-middle bg-transparent border-b text-size-sm whitespace-nowrap">
                            <span class="font-semibold leading-tight text-size-xs">2044</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
