<div class="p-6 pb-0">
    <div class="flex flex-wrap">
        <div class="w-full lg:w-1/2">
            <h5 class="text-xl font-bold">Travelste dage</h5>
            <p>Dage med flest besøgende</p>
        </div>
    </div>
</div>
<div class="p-6 px-0 pb-2">
    <div class="overflow-x-auto">
        <table class="items-center w-full mb-0 align-top border-gray-200 text-slate-500">
            <thead class="border-b border-b-solid border-b-gray-200 text-slate-400 uppercase font-bold opacity-70">
                <tr>
                    <th class="px-6 py-3 text-left">Dag</th>
                    <th class="px-6 py-3 text-center">Dato</th>
                    <th class="px-6 py-3 text-center">Gæster</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="p-2 align-middle border-b whitespace-nowrap">
                        <div class="flex px-2 py-1">
                            <div>
                                <p class="inline-flex items-center justify-center mr-4 transition-all duration-200 ease-soft-in-out text-xl h-9 w-9 rounded-xl">1.</p>
                            </div>
                            <div class="flex items-center">
                                <h6>AAU Prolabs</h6>
                            </div>
                        </div>
                    </td>
                    <td class="p-2 leading-normal text-center align-middle border-b text-size-sm whitespace-nowrap">
                        <span class="font-semibold leading-tight text-size-xs">11. Marts 2025</span>
                    </td>
                    <td class="p-2 leading-normal text-center align-middle border-b text-size-sm whitespace-nowrap">
                        <span class="font-semibold leading-tight text-size-xs">2044</span>
                    </td>
                </tr>
                <tr>
                    <td class="p-2 align-middle border-b whitespace-nowrap">
                        <div class="flex px-2 py-1">
                            <div>
                                <p class="inline-flex items-center justify-center mr-4 transition-all duration-200 ease-soft-in-out text-xl h-9 w-9 rounded-xl">1.</p>
                            </div>
                            <div class="flex items-center">
                                <h6>AAU Prolabs</h6>
                            </div>
                        </div>
                    </td>
                    <td class="p-2 leading-normal text-center align-middle border-b text-size-sm whitespace-nowrap">
                        <span class="font-semibold leading-tight text-size-xs">11. Marts 2025</span>
                    </td>
                    <td class="p-2 leading-normal text-center align-middle border-b text-size-sm whitespace-nowrap">
                        <span class="font-semibold leading-tight text-size-xs">2044</span>
                    </td>
                </tr>
                <tr>
                    <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap">
                        <div class="flex px-2 py-1">
                            <div>
                                <p class="inline-flex items-center justify-center mr-4 transition-all duration-200 ease-soft-in-out text-xl h-9 w-9 rounded-xl">1.</p>
                            </div>
                            <div class="flex items-center">
                                <h6>AAU Prolabs</h6>
                            </div>
                        </div>
                    </td>
                    <td class="p-2 leading-normal text-center align-middle bg-transparent border-b text-size-sm whitespace-nowrap">
                        <span class="font-semibold leading-tight text-size-xs">11. Marts 2025</span>
                    </td>
                    <td class="p-2 leading-normal text-center align-middle bg-transparent border-b text-size-sm whitespace-nowrap">
                        <span class="font-semibold leading-tight text-size-xs">2044</span>
                    </td>
                </tr>
                <tr>
                    <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap">
                        <div class="flex px-2 py-1">
                            <div>
                                <p class="inline-flex items-center justify-center mr-4 transition-all duration-200 ease-soft-in-out text-xl h-9 w-9 rounded-xl">1.</p>
                            </div>
                            <div class="flex items-center">
                                <h6>AAU Prolabs</h6>
                            </div>
                        </div>
                    </td>
                    <td class="p-2 leading-normal text-center align-middle bg-transparent border-b text-size-sm whitespace-nowrap">
                        <span class="font-semibold leading-tight text-size-xs">11. Marts 2025</span>
                    </td>
                    <td class="p-2 leading-normal text-center align-middle bg-transparent border-b text-size-sm whitespace-nowrap">
                        <span class="font-semibold leading-tight text-size-xs">2044</span>
                    </td>
                </tr>
                <tr>
                    <td class="p-2 align-middle bg-transparent whitespace-nowrap">
                        <div class="flex px-2 py-1">
                            <div>
                                <p class="inline-flex items-center justify-center mr-4 transition-all duration-200 ease-soft-in-out text-xl h-9 w-9 rounded-xl">1.</p>
                            </div>
                            <div class="flex items-center">
                                <h6>AAU Prolabs</h6>
                            </div>
                        </div>
                    </td>
                    <td class="p-2 leading-normal text-center align-middle bg-transparent text-size-sm whitespace-nowrap">
                        <span class="font-semibold leading-tight text-size-xs">11. Marts 2025</span>
                    </td>
                    <td class="p-2 leading-normal text-center align-middle bg-transparent text-size-sm whitespace-nowrap">
                        <span class="font-semibold leading-tight text-size-xs">2044</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
