<div class="py-4 px-6">
    <div class="flex flex-row justify-between items-center">
        <div class="flex-none w-2/3 max-w-full">
            <div>
                <h4 class="font-semibold text-2xl text-nowrap">Besøgende i dag</h4>
                <h5 class="flex text-4xl items-center gap-2 text-nowrap">
                    {{ daily_visitors }}
                    {% if last_day_diff > 0 %}
                        <span class="font-semibold text-lime-500">+{{ last_day_percentage|floatformat:0 }}%</span>
                    {% elif last_day_diff < 0 %}
                        <span class="font-bold text-red-500">{{ last_day_percentage|floatformat:0 }}%</span>
                    {% else %}
                    {% endif %}
                </h5>
            </div>
        </div>
        <div class="flex items-center justify-center w-16 h-16 rounded-lg bg-gradient-to-br from-aau to-aau-light text-slate-100">
            <div class="relative">
                <i class="bi-calendar text-5xl inline-flex align-middle"></i>
                <div class="absolute top-3.5 select-none w-full flex justify-center text-xl font-semibold">
                    <p>{{ weekday|upper }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
