<div class="py-4 px-6">
    <div class="flex flex-row justify-between">
        <div class="flex-none w-2/3 max-w-full">
            <div>
                <h4 class="font-semibold">Nuværende population</h4>
                <h5 class="font-bold flex text-lg items-center gap-4">
                    {{ current_occupancy }}
                    {% if comparison_occupancy > 0 %}
                        <span class="leading-normal text-lime-500">+ {{ comparison_occupancy }}
                            <i class="bi-clock-history text-lime-500"></i>
                        </span>
                    {% elif comparison_occupancy < 0 %}
                        <span class="leading-normal text-red-500">{{ comparison_occupancy }}
                            <i class="bi-clock-history text-red-500"></i>
                        </span>
                    {% else %}
                    {% endif %}
                </h5>
            </div>
        </div>
        <div class="flex items-center justify-center w-12 h-12 rounded-lg bg-gradient-to-br from-aau-light/90 to-aau-light/70 text-slate-100">
            <i class="bi-people text-4xl inline-flex"></i>
        </div>
    </div>
</div>
