<div class="border-black/12.5 shadow-soft-xl relative z-20 flex min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-white bg-clip-border">
    <div class="p-6 pb-0 flex flex-col justify-between gap-1">
        <h5 class="text-xl font-bold">Brug af indgange</h5>
        <div class="flex text-xs lg:text-sm justify-between">
            <div class="flex items-center">
                <div class="w-3 h-3 rounded-full bg-fuchsia-400"></div>
                <p>Indgang A</p>
            </div>
            <div class="flex items-center">
                <div class="w-3 h-3 rounded-full bg-fuchsia-400"></div>
                <p>Indgang A</p>
            </div>
            <div class="flex items-center">
                <div class="w-3 h-3 rounded-full bg-fuchsia-400"></div>
                <p>Indgang A</p>
            </div>
            <div class="flex items-center">
                <div class="w-3 h-3 rounded-full bg-fuchsia-400"></div>
                <p>Indgang A</p>
            </div>
        </div>
    </div>
    <div class="flex justify-between px-4 pt-5">
        <div>
            <div>
                <canvas id="chart-circle" width="900" height="900" class="block box-border w-32 aspect-square"></canvas>
            </div>
        </div>
        <div>
            <div>
                <canvas id="chart-circle2" width="900" height="900" class="block box-border w-32 aspect-square"></canvas>
            </div>
        </div>
    </div>
    <div class="flex justify-between pb-2 px-14">
        <p>Indgang</p>
        <p>Udgang</p>
    </div>
</div>
