<div class="p-6 pb-0 flex flex-col justify-between gap-1">
    <h5 class="text-xl font-bold">Brug af indgange</h5>
    <div class="flex text-xs lg:text-sm justify-between">
        {% for label, color in label_colors %}
        <div class="flex items-center">
            <div class="w-3 h-3 rounded-full" style="background-color: {{ color }};"></div>
            <p>{{ label }}</p>
        </div>
        {% endfor %}
    </div>
</div>
<div class="flex justify-between px-4 pt-5">
    <div>
        <div>
            <canvas id="entries-chart" width="900" height="900" class="block box-border w-32 aspect-square"></canvas>
        </div>
    </div>
    <div>
        <div>
            <canvas id="exits-chart" width="900" height="900" class="block box-border w-32 aspect-square"></canvas>
        </div>
    </div>
</div>
<div class="flex justify-between pb-2 px-14">
    <p>Indgang</p>
    <p>Udgang</p>
</div>
<div id="json-element" hidden data-json="{{ json_data }}"></div>
