{% extends "base.html" %}admin
{% load partials %}
{% block content %}
<div class="flex flex-col justify-around w-full gap-2">
    <div
        class="flex flex-wrap"
        hx-get="{% url 'dashboard_top_row' %}"
        hx-trigger="every 10s"
    >
        {% partialdef top_row inline %}
        <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
            {% if perms.occupancy.view_entryevent and perms.occupancy.view_exitevent %}
            {% component "card" %}
            {% fill "content" %}
            {% component "occupants" %}{% endcomponent %}
            {% endfill %}
            {% endcomponent %}
            {% endif %}
        </div>
        <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
            {% if perms.occupancy.view_entryevent %}
            {% component "card" %}
            {% fill "content" %}
            {% component "daily_visitors" %}{% endcomponent %}
            {% endfill %}
            {% endcomponent %}
            {% endif %}
        </div>
        <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
            {% if perms.occupancy.view_entryevent %}
            {% component "card" %}
            {% fill "content" %}
            {% component "weekly_visitors" %}{% endcomponent %}
            {% endfill %}
            {% endcomponent %}
            {% endif %}
            </div>
        <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
            {% if perms.occupancy.view_entryevent %}
            {% component "card" %}
            {% fill "content" %}
            {% component "monthly_visitors" %}{% endcomponent %}
            {% endfill %}
            {% endcomponent %}
            {% endif %}
        </div>
        {% endpartialdef top_row %}
    </div>

    <div class="flex flex-wrap">
        <div class="w-full flex flex-col px-3 mb-6 lg:mb-0 lg:w-1/3">
        {% if perms.occupancy.view_entryevent %}
        {% component "card" %}
        {% fill "content" %}
        {% component "all_time_plot" %}{% endcomponent %}
        {% endfill %}
        {% endcomponent %}
        {% endif %}
        </div>
        <div class="w-full px-3 mb-6 lg:mb-0 lg:w-1/4">
        {% if perms.occupancy.view_entryevent and perms.occupancy.view_entrance %}
            {% component "card" %}
            {% fill "content" %}
            {% component "entrance_overview" %}{% endcomponent %}
            {% endfill %}
            {% endcomponent %}
            {% endif %}
        </div>
        <div class="w-full max-w-full px-3 lg:w-5/12">
            {% if perms.occupancy.view_entryevent or perms.occupancy.view_exitevent %}
            {% component "card" %}
            {% fill "content" %}
                {% component "latest_events" %}{% endcomponent %}
            {% endfill %}
            {% endcomponent %}
            {% endif %}
            </div>
    </div>

    <div class="flex flex-wrap">
        <div class="w-full max-w-full px-3 mb-6 lg:mb-0 lg:w-5/12 lg:flex-none">
            {% if perms.occupancy.view_entryevent and perms.dashboard.view_labelleddate %}
            {% component "card" %}
            {% fill "htmx" %}
            hx-get="{% url "busiest_days" %}"
            hx-trigger="every 60s"
            {% endfill %}
            {% fill "content" %}
            {% component "busiest_days" %}{% endcomponent %}
            {% endfill %}
            {% endcomponent %}
            {% endif %}
        </div>
        <div class="w-full max-w-full px-3 lg:w-7/12 lg:flex-none">
            {% if perms.occupancy.view_entryevent and perms.occupancy.view_exitevent %}
            {% component "card" %}
            {% fill "content" %}
            {% component "comparison_plot" %}{% endcomponent %}
            {% endfill %}
            {% endcomponent %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
