{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="flex flex-col h-full justify-center w-full">
    <div class="flex flex-wrap">
        <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
            {% component "card" %}
                {% fill "content" %}
                    {% component "occupants" %}{% endcomponent %}
                {% endfill %}
            {% endcomponent %}
        </div>
        <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
            {% component "card" %}
                {% fill "content" %}
                {% endfill %}
            {% endcomponent %}
        </div>
        <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
            {% component "card" %}
                {% fill "content" %}
                {% endfill %}
            {% endcomponent %}
        </div>
        <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
            {% component "card" %}
                {% fill "content" %}
                {% endfill %}
            {% endcomponent %}
        </div>
    </div>

    <div class="flex flex-wrap mt-6">
        <div class="w-full flex flex-col px-3 mb-6 lg:mb-0 lg:w-1/3">
            {% component "card" %}
                {% fill "content" %}
                {% endfill %}
            {% endcomponent %}
        </div>
        <div class="w-full px-3 mb-6 lg:mb-0 lg:w-1/4">
            {% component "card" %}
                {% fill "content" %}
                    {% component "entrance_overview" %}{% endcomponent %}
                {% endfill %}
            {% endcomponent %}
        </div>
        <div class="w-full max-w-full px-3 lg:w-5/12">
            {% component "card" %}
                {% fill "content" %}
                    {% component "latest_events" %}{% endcomponent %}
                {% endfill %}
            {% endcomponent %}
        </div>
    </div>

    <div class="flex flex-wrap mt-6">
        <div class="w-full max-w-full px-3 mt-0 mb-6 lg:mb-0 lg:w-5/12 lg:flex-none">
            {% component "card" %}
                {% fill "content" %}
                    {% component "busiest_days" %}{% endcomponent %}
                {% endfill %}
            {% endcomponent %}
        </div>
        <div class="w-full max-w-full px-3 mt-0 lg:w-7/12 lg:flex-none">
            {% component "card" %}
                {% fill "content" %}
                    {% component "comparison_plot" %}{% endcomponent %}
                {% endfill %}
            {% endcomponent %}
        </div>
    </div>
</div>
{% endblock %}
