{% extends "base.html" %}

{% block content %}

<div class="flex flex-col min-h-screen h-full justify-center">
    {% component "card" %}
    {% fill "content" %}
    <div class="items-center px-6 py-6">
        <h1 class="text-4xl">Opret ny begivenhed</h1>
        <div class="flex flex-col">
            <label for="event" class="text-xl">Navn på ny begivenhed:</label>
            <input type="text" class="rounded">
            <label for="event" class="text-xl">Dato på begivenhed</label>
            <input type="date" id="event" name="event" class="rounded">
            <button type="submit" class="text-xl hover:underline">Submit</button>
        </div>
    </div>
    {% endfill %}
    {% endcomponent %}
</div>


{% endblock %}
