{% load static tailwind_tags django_htmx component_tags %}
<!DOCTYPE html>
<html lang="dk">
    <head>
        <title>INNHABIT</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% htmx_script %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
        <style>
            body {
                font-family: "Barlow";
            }
        </style>
        {% block head %}
        {% endblock %}
        {% tailwind_css %}
    </head>

    {% url "insights" as insights_url %}
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="flex w-full
        {% if request.path == insights_url %} bg-aau {% else %} bg-gray-50 {% endif %}
        "
        id="main"
    >
        {% url "login" as login_url %}
        {% if request.user.is_authenticated and request.path != insights_url %}
            {% component "navbar" %}{% endcomponent %}
        {% endif %}
        <main
            class="p-4 w-full h-full min-h-screen flex justify-center
            {% if request.user.is_authenticated and request.path != insights_url %} xl:ml-64 {% endif %}
            "
        >
            {% block content %}
            {% endblock %}
        </main>
        {% if not request.user.is_authenticated and request.path != insights_url and request.path != login_url %}
            <div class="fixed bottom-6 right-6">
                <a href="{% url 'login' %}">Login</a>
            </div>
        {% endif %}

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
            document.cookie = "tzinfo=" + timezone + "; path=/";
        });

        function onFullscreen() {
            const nav = document.querySelector("aside");
            const main = document.querySelector("main");
            nav.classList.add("hidden");
            main.classList.remove("xl:ml-64");
        }
        function onEndFullscreen() {
            const nav = document.querySelector("aside");
            const main = document.querySelector("main");
            nav.classList.remove("hidden");
            {% if request.user.is_authenticated and request.path != insights_url %}
            main.classList.add("xl:ml-64");
            {% endif %}
        }
        window.matchMedia('(display-mode: fullscreen)').addListener(({ matches }) => {
            if (matches) {
                onFullscreen();
            } else {
                onEndFullscreen();
            }
        });
        if( window.innerHeight == screen.height) {
            onFullscreen();
        }
    </script>
    {% block js %}
    {% endblock %}
    </body>
</html>
