{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>INNHABIT</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://unpkg.com/htmx.org@1.9.6"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <style>
            body {
                font-family: "Montserrat";
            }
        </style>
        {% tailwind_css %}
    </head>

    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="flex h-screen">
        {% if request.user.is_authenticated %}
            {% component "navbar" %}{% endcomponent %}
        {% endif %}
        <main class="p-4{% if request.user.is_authenticated %} ml-72 {% endif %}">
            {% block content %}
            {% endblock %}
        </main>
        {% if not request.user.is_authenticated %}
            <div class="fixed bottom-6 right-6">
                <a>Login</a>
            </div>
        {% endif %}
    {% block js %}
    {% endblock %}
    </body>
</html>
