{% load static tailwind_tags django_htmx component_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>INNHABIT</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.min.js"></script>
        {% django_htmx_script %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <style>
            body {
                font-family: "Barlow";
            }
        </style>
        {% block head %}
        {% endblock %}
        {% tailwind_css %}
    </head>

    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="flex w-full">
        {% url "insights-dashboard" as insights_url %}
        {% url "login" as login_url %}
        {% if request.user.is_authenticated and request.path != insights_url %}
            {% component "navbar" %}{% endcomponent %}
        {% endif %}
        <main
            class="p-4 w-full h-full flex justify-center
            {% if request.path == insights_url %} bg-aau {% else %} bg-slate-200 {% endif %}
            {% if request.user.is_authenticated and request.path != insights_url %} ml-72 {% endif %}
            "
        >
            {% block content %}
            {% endblock %}
        </main>
        {% if not request.user.is_authenticated and request.path != insights_url and request.path != login_url %}
            <div class="fixed bottom-6 right-6">
                <a href="{% url 'login' %}">Login</a>
            </div>
        {% endif %}
    {% block js %}
    {% endblock %}
    </body>
</html>
